html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  content: "";
  background-image: url(background.jpg);
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/** POPUP DEFINE USERNAME */
.popup {
  z-index: 10000;
  text-align: center;
  position: fixed;
  width: 300px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #031549;
  text-align: center;
  box-shadow: -1px 92px 99px -62px rgba(3, 107, 255, 0.27), 0 1px 6px 0 rgba(10, 48, 255, 0.48);
  border-radius: 5px;
}

.popup input,
.popup input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}

.popup input[type="text"]:focus {
  width: 280px;
  -webkit-animation: 9s colorChange alternate;
  transition height 0.3s,
  width 0.3s 0.1s input: focus ~ .border
}

#confirmBtn {
  width: 170px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#confirmBtn:hover {
  background: #2ecc71;
}

.popup h3 {
  font-size: 18px;
}

.popup p {
  margin: 10px 0px 20px 0px;
  font-size: 16px;
  color: #454545;
}

.popup .button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  margin: 0px 5px;
  height: 40px;
  transition: all 0.3s;
  cursor: pointer;
}

/** POPUP CONFIRM ORDER */
.modal-container.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  pointer-events: auto;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 1rem;
  z-index: 40;
  background-color: rgb(0 0 0 / 95%);
}

.popup-confirm {
  border-radius: 10px;
  background-color: #212121;
  padding: 1rem;
  z-index: 40;
  width: 400px;
}

.popup-confirm-info {
  max-height: 500px;
  overflow-y: auto;
}

#popup-confirm-title {
  display: table;
  margin: 0 auto;
  font-family: 'Roboto';
  font-size: 40px;
}

.popup-confirm-btn {
  display: flex;
  justify-content: center;
}

.popup-confirm input,
.popup-confirm input {
  border: 0;
  background: #0F0F0F;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #6e6e6e;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.popup-confirm p,input[type="text"]:disabled {
  width: 300px;
  border: 0;
  background: rgb(85, 85, 85);
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #3F3F3F;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  word-break: break-word
}

.popup-confirm input[type="text"]:focus {
  width: 280px;
  -webkit-animation: 9s colorChange alternate
  transition height 0.3s,
  width 0.3s 0.1s input: focus ~ .border
}

#orderConfirmBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 150px;
  height: 50px;
  background: #3EA6FF;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  border-color: transparent;
}

#orderConfirmBtn:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 150px;
  height: 50px;
  background: #91ccff;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#orderCloseBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 150px;
  height: 50px;
  background: none;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  border-color: transparent;
}

#orderCloseBtn:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 150px;
  height: 50px;
  background: #868686;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

/* Order Button */
.button-order {
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #FF2E63;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  margin: 10px 0;
}

.button-order:hover {
  background-color: #FF2E63;
  color: #ffffff;
  border: 1px solid #FF2E63;
}

/* ORDER LIST SECTION */
.orders-list {
  max-width: 500px;
  height: 350px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
}

.order-detail {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.603) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 10px;
  cursor: pointer;
}

.order-detail:hover {
  cursor: pointer;
}

#txtShopName {
  font-family: 'Roboto';
  margin-top: -10px;
  font-size: 20px;
  color: aqua;
}

#user-txt {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  text-shadow: none;
}

#user-txt:hover {
  cursor: pointer;
}

#order-time-txt {
  font-size: 12px;
  color: gray;
  margin-left: 5px;
}

#order-time-txt:hover {
  cursor: pointer;
}

#food-amount-txt:hover {
  cursor: pointer;
}

#order-title-txt {
  max-width: 200px;
  word-wrap: break-word;
}

#order-info-1 {
  display: flex;
  align-items: center;
  max-width: 330px;
  overflow-x: auto;
}

#order-info-1:hover {
  color: red;
  cursor: pointer;
}

#order-info-2 {
  max-width: 100%;
  overflow-x: auto;
}

#order-info-2:hover {
  color: red;
  cursor: pointer;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.order-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

li {
  cursor: pointer;
}

ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol span {
  content: " ";
  position: relative;
  display: block;
  padding: .4em .4em .4em 2.5em;
  margin: .5em 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

ol span:hover {
  background: #E9E4E0;
  text-decoration: line-through;
  cursor: pointer;
  color: #ff0202;
}

ol span:hover:before {
  content: "X";
  color: rgb(255, 255, 255);
  background: #ff0202;
  transform: rotate(360deg);
}

ol span:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0.3em;
  top: 60%;
  margin-top: -1.3em;
  background: #08d9d6d7;
  height: 2em;
  width: 2em;
  border: .2em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

/* SUMMARY SECTION */
.summary-order-container {
  align-items: center;
  width: 500px;
  height: 240px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.summary-detail {
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.603) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.summary-info {
  display: flex;
  margin-left: 10px;
  width: 100%;
  max-width: 80%;
  align-items: center;
}

.sum-food-txt {
  width: calc(100% - 90px);
}

.sum-qty-txt {
  width: 45px;
}

.sum-total-txt {
  align-items: center;
}

.sum-food-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #ffffff;
}

.subtotal-container {
  width: 500px;
  height: 50px;
  padding: 10px;
  box-shadow: rgba(255, 1, 1, 1) 2px 2px 2px 2px;
}

.subtotal-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtotal-price-txt {
  align-items: flex-end;
}

/* MENU SECTION */
.u-section-1 {
  margin: 1rem 0 0 0;
}

.disable-event {
  z-index: -1;
}

.u-section-1 .u-text-1 {
  width: 707px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 838px;
  margin-right: 5px;
}

.u-section-1 .u-container-layout-1 {
  /* box-shadow: #00ADB5 0px 0px 0px 1px; */
  padding: 0;
  overflow-y: scroll;
}

.u-section-1 .u-list-1 {
  width: 496px;
  height: 840px;
  margin: 10px auto 10px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  min-height: 781px;
  grid-gap: 25px 25px;
}

.u-section-1 .u-list-item-1 {
  /* background: #393E46;
  box-shadow: 0px 0px 8px 0px #FF2E63;
  border: 2px solid transparent; */

  background: rgb(24,22,34) !important;
  border: 1px solid rgb(109,49,168);
}

.u-section-1 .u-list-item-1:hover {
  background: rgb(25,25,25) !important;
}

.u-section-1 .u-container-layout-2 {
  text-align: center;
  padding: 0 0;
}

.u-section-1 .u-image-1 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 10px auto 0px auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  height: 70px;
  overflow-y: auto;
  margin: 30px 20px 0;
  color: white;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 10px auto;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 47px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 47px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 47px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-6 {
  /* box-shadow: #00ADB5 0px 0px 0px 1px; */
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  /* min-height: 427px; */
}

.u-section-1 .u-container-layout-7 {
  height: 392px;
  /* box-shadow: #00ADB5 0px 0px 0px 1px; */
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-8 {
  height: 390px;
  box-shadow: #00ADB5 0px 0px 0px 1px;
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1830px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 691px;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 739px;
  }

  .u-section-1 .u-image-1 {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-2 {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-3 {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-4 {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2148px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 539px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 539px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2697px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 809px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 809px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2262px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 509px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 509px;
  }
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected])>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected])>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected])>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}